body
{
    background-color: gray;
}

#logo
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-height: 150px;
    width: 1000px;
    padding: 20px;
    text-align: center;
    size: 70px;
}

#menu
{
    float: left;
    width: 300px;
    min-height: 700px;
    padding: 25px;
}


#footer
{
    clear: both;
    text-align: center;
}